.video-container {
    position: relative;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    background: black;
    //margin: auto;
}

.video-element-container {
    overflow: hidden;
    display: inline-flex;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.video-button.--display {
    display: block;
}
