.post-container {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    padding: 0.75rem;
    background: #cce5ff;
}

.post-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    background: white;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-left: 0.75rem;
}

.post-text {
    padding: 0.5rem 0 0;
    text-align: start;
}

.post-reactions {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.post-divider {
    width: 100%;
    border: none;
    border-bottom: #cce5ff solid;
}

.post-hashtags {
    padding-top: 0.5rem;
    flex-grow: 1;
    text-align: start;
}
